html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #171d7d;
    color: #fbd11a;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.table th.bottom-column {
    vertical-align: bottom;
}

.navbar-inverse {
    background-color: #171d7d;
    border-color: #26153f;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #fbd11a;
}

.navbar .navbar-header a:hover {
    color: transparent;
}
.navbar .navbar-header a {
    width: 336px;
    color: transparent;
    background-image: url(../images/cardenas_logo_white.jpeg);
    background-repeat: no-repeat;
}

@media(max-width:767px) {
    .navbar .navbar-header a {
        margin-left: 12px;
    }
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #001B4B;
}

td.editable input {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    border-bottom: solid 1px #ddd;
    width: 100%;
}

.scrollable-x {
    overflow-x: auto;
}

h1 {
    padding-bottom: 4px;
    margin-bottom: 32px;
    border-bottom: 1px solid #ddd;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background: inherit;
}

ul.jqtree-tree li > .jqtree-element .jqtree-title {
    padding: 2px;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element .jqtree-title {
    font-weight: bolder;
    background: #fbd11a;
}

fieldset {
   margin-bottom: 22px;
}
